.about__us {
  margin-top: 150px;
}

.about__us .container {
  display: flex;
  justify-content: space-between;
}

.about__us .about__box {
  max-width: 39%;
}

.about__us .long__desc {
  color: #333;
  max-width: 100%;
  font-size: 1.2em;
  line-height: 25px;
}

.about__us h2 {
  max-width: 33.3%;
}

.about__us span {
  color: #005FA3;
}

.about__us .count__cards__box {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item__count__about {
  z-index: 2;
  position: relative;
  padding: 0 40px 50px;
  margin: 15px 0;
  width: 275px;
  max-height: 255px;
  transition: 0.5s linear;
  cursor: pointer;
}

.item__count__about .count {
  z-index: 2;
  font-size: 4em;
  font-weight: bold;
  transition: .4s ease-in-out;
}

.item__count__about p {
  z-index: 2;
  max-width: 115px;
  margin-bottom: 47px;
  color: #000;
  font-weight: bold;
  transition: .4s ease-in-out;
}

.item__count__about a {
  z-index: 2;
  color: #005FA3;
  font-weight: bold;
  transition: .3s ease-in-out;
}

.item__count__about {
  &::after{
    content: " ";
    position: absolute;
    background: #005FA3;
    z-index: -1;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 0;
  }
  &:hover {
    &::after {
      opacity: 1;
      width: 90%;
      height: 100%;
      transition: .4s ease-in-out;
    }
  }
}

.item__count__about:hover > .count {
  color: #fff;
}

.item__count__about:hover > p {
  color: #fff;
}

.item__count__about:hover > a {
  color: #fff;
}

@media (max-width: 1150px) {

  .about__us {

    & .about__box {
      max-width: 30%;
    }

    & .count__cards__box {
      margin-top: 50px;
    }

    & .item__count__about {
      width: 220px;
      max-height: 240px;
      padding: 0 30px 20px;

      & .count {
        font-size: 3em;
      }

      & p {
        max-width: 100px;
        margin-bottom: 37px;
      }
    }

  }

}

