@import "header";
@import "menu";
@import "features";
@import "about-us";
@import "clients";
@import "reviews";
@import "footer";

.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  display: block;
}

h2 {
  line-height: 69px;
  font: 4em "Modern No. 20";
  font-weight: bold;
  margin-bottom: 60px;
}

p {
  margin: 0;
}

.desc {
  font-size: 1.5em;
  line-height: 33px;
  color: #BDBDBD;
  margin-bottom: 30px;
}

.btn_ button {
  display: block;
  position: relative;
  width: 240px;
  height: 60px;
  background: #005FA3;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.5s;


  & :after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.btn_ button:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(title);
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background: #1678a8;
  color: #fff;
  opacity: 0;
  transition: 0.2s linear;
}

.flex-btnsPag {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev {
  position: static;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #fff;
  background: rgba(201, 195, 195, 0.4);
  transition: 0.5s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background: rgba(153, 153, 153, 0.4);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  font-size: 18px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 18px;
}


.swiper__btns {
  display: flex;

  & .swiper-button-prev, .swiper-rtl .swiper-button-next {
    margin-right: 15px;
  }
}


.swiper-pagination {
  position: static;
  text-align: start;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 40px;
}