@import "header";
@import "slider";
@import "menu";
@import "features";
@import "about-us";
@import "clients";
@import "reviews";
@import "footer";


.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  display: block;
}

h2 {
  line-height: 69px;
  font: 4em "Modern No. 20";
  font-weight: bold;
  margin-bottom: 60px;
}

p {
  margin: 0;
}

.desc {
  font-size: 1.5em;
  line-height: 33px;
  color: #BDBDBD;
  margin-bottom: 30px;
}

.btn_ button {
  display: block;
  position: relative;
  width: 240px;
  height: 60px;
  background: #005FA3;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.5s;


  & :after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.btn_ button:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(title);
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background: #1678a8;
  color: #fff;
  opacity: 0;
  transition: 0.2s linear;
}


@media (max-width: 1150px) {
  .container {
    padding: 0 45px;
  }

}

@media (max-width: 1000px) {
  h2 {
    font-size: 3em;
    margin-bottom: 40px;
  }
}
