.header {
  background: url("../images/Rectangle (1).png");
  background-size: cover;
  width: 100%;
  height: 623px;
  overflow: visible;
  position: relative;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.header .container div {
  z-index: 100;
}
.header .slider__slide__title {
  color: #ffffff;
  font: 4em "Modern No. 20";
  max-width: 60%;
  margin-bottom: 80px;
}

.header__second {
  background: url("../images/sean-pollock-PhYq704ffdA-unsplash.jpg");
  background-size: cover;
}
.header__second:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(1, 16, 21, 0.6);
}

.header__third {
  background: url("../images/verne-ho-0LAJfSNa-xQ-unsplash.jpg");
  background-size: cover;
}
.header__third:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(1, 16, 21, 0.6);
}

.header__fourth {
  background: url("../images/samson-ZGjbiukp_-A-unsplash.jpg");
  background-size: cover;
}

@media (max-width: 1020px) {
  .header .slider__slide__title {
    font-size: 3em;
  }
}
.flex-btnsPag {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-btnsPag .swiper__btns {
  display: flex;
}
.flex-btnsPag .swiper__btns .swiper-button-prev, .flex-btnsPag .swiper__btns .swiper-rtl .swiper-button-next {
  margin-right: 15px;
}
.flex-btnsPag .swiper__btns .swiper-button-next, .flex-btnsPag .swiper__btns .swiper-button-prev {
  position: static;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #fff;
  background: rgba(243, 243, 243, 0.4);
  transition: 0.5s ease;
}
.flex-btnsPag .swiper__btns .swiper-button-next:hover, .flex-btnsPag .swiper__btns .swiper-button-prev:hover {
  background: rgba(153, 153, 153, 0.4);
}
.flex-btnsPag .swiper__btns .swiper-button-prev:after, .flex-btnsPag .swiper__btns .swiper-rtl .swiper-button-next:after {
  font-size: 18px;
}
.flex-btnsPag .swiper__btns .swiper-button-next:after, .flex-btnsPag .swiper__btns .swiper-rtl .swiper-button-prev:after {
  font-size: 18px;
}

.swiper-pagination {
  position: static;
  text-align: start;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
  margin-right: 40px;
}

@media (max-width: 1000px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background: #fff;
    width: 18px;
    height: 18px;
    margin-right: 40px;
  }
}
.menu {
  margin: 20px 0 20px;
}
.menu .menu__mobile {
  display: none;
}
.menu ul {
  list-style: none;
}
.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .container .menu__content {
  width: 53%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu .container .menu__content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.menu .container .menu__content ul a {
  margin-bottom: 20px;
}
.menu .container .menu__content ul li {
  font-size: 0.9em;
}
.menu .container .menu__content .menu__data li {
  font-size: 0.7em;
}
.menu .container .menu__content .menu__data li svg {
  color: #005FA3;
  margin-right: 8px;
}
.menu .container .menu__content .menu__link li {
  font-weight: bold;
}
.menu .container .menu__logo {
  display: flex;
  align-items: center;
}
.menu .container .menu__logo .menu__logo__img {
  margin-right: 30px;
  min-width: 35px;
}
.menu .container .menu__logo .menu__logo__title {
  font-size: 2em;
  color: #005FA3;
}
.menu .container a {
  color: #222;
  text-decoration: none;
  transition: 0.3s;
}
.menu .container .menu__link .menu__content__current__link {
  position: relative;
}
.menu .container .menu__link .menu__content__current__link:after, .menu .container .menu__link .menu__content__current__link:before {
  top: 20%;
  content: "";
  position: absolute;
  width: 3px;
  height: 61%;
  background: #005FA3;
}
.menu .container .menu__link .menu__content__current__link:after {
  left: -6px;
}
.menu .container .menu__link .menu__content__current__link:before {
  right: -6px;
}
.menu .container a:hover {
  color: #005FA3;
}
@media (max-width: 1000px) {
  .menu {
    margin: 40px 0;
  }
  .menu .container {
    position: relative;
    align-items: center;
  }
  .menu .menu__content {
    display: none;
  }
  .menu .menu__mobile {
    display: block;
  }
  .menu .menu__mobile ul {
    margin-top: 40px;
    padding-top: 30px;
    box-shadow: 0 0 5px 0 #787878;
    border-radius: 5px;
    width: 50%;
  }
  @keyframes vsplivashka {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes vsplivashka-reverse {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-1000px);
      opacity: 0;
    }
  }
  .menu .menu__mobile .menu__mobile__content {
    z-index: 1000;
    position: fixed;
    transform: translateY(-3000px);
    display: flex;
    padding: 70px 30px 50px;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 5%;
    background: #21262d;
    border: 1px solid #fff;
    border-top: none;
    box-shadow: 0 0 50px 0 #212B31;
  }
  .menu .menu__mobile .menu__mobile__content li {
    font-size: 1.7em;
    margin-bottom: 40px;
  }
  .menu .menu__mobile .menu__mobile__content li svg {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .menu .menu__mobile .menu__mobile__content a {
    color: #fff;
    transition: 0.3s linear;
  }
  .menu .menu__mobile .menu__mobile__content a:hover {
    padding: 10px;
    background: #fff;
    color: #21262d;
    border-radius: 5px;
  }
  .menu .menu__mobile .menu__open {
    animation: vsplivashka 0.6s ease-in-out;
    animation-iteration-count: 1;
    transform: translateY(0);
  }
  .menu .menu__mobile .menu__close-animation {
    animation: vsplivashka-reverse 0.6s ease-in-out;
    animation-iteration-count: 1;
  }
  .menu .menu__mobile .menuBtn {
    position: fixed;
    top: 30px;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    z-index: 10000;
    background: inherit;
    box-shadow: 0 0 10px 0 #fff;
    opacity: 0.8;
  }
  .menu .menu__mobile .openBtn {
    background: inherit;
  }
  .menu .menu__mobile .openBtn .menuBtn__burger {
    background: #fff;
  }
  .menu .menu__mobile .openBtn .menuBtn__burger:after, .menu .menu__mobile .openBtn .menuBtn__burger:before {
    background: #fff;
  }
  .menu .menu__mobile .menuBtn .menuBtn__burger {
    width: 35px;
    height: 4px;
    background: #212B31;
    border-radius: 2.5px;
    box-shadow: 0 2px 3px #fff;
    transition: all 0.5s ease-in-out;
  }
  .menu .menu__mobile .menuBtn__burger::before,
.menu .menu__mobile .menuBtn__burger::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 4px;
    background: #212B31;
    border-radius: 2.5px;
    box-shadow: 0 2px 3px #fff;
    transition: all 0.5s ease-in-out;
  }
  .menu .menu__mobile .menuBtn__burger::before {
    transform: translateY(-12px);
  }
  .menu .menu__mobile .menuBtn__burger::after {
    transform: translateY(12px);
  }
  .menu .menu__mobile .menuBtn.openBtn .menuBtn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu .menu__mobile .menuBtn.openBtn .menuBtn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu .menu__mobile .menuBtn.openBtn .menuBtn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
.specialize {
  margin-top: 80px;
}

.cards__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.cards__box__card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 370px;
  max-width: 50%;
  margin-bottom: 30px;
}
.cards__box__card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*100%*/
  height: 100%;
  transition: 0.8s;
  transform-origin: left;
  transform: perspective(1000px) rotateY(-90deg);
  cursor: pointer;
}
.cards__box__card .details .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.cards__box__card .details .center a {
  display: block;
  text-decoration: none;
  font-size: 18px;
}
.cards__box__card .details .center p {
  margin: 20px 0;
  font-size: 1em;
}
.cards__box__card .details .center h3 {
  font-size: 2em;
}
.cards__box__card .details .center2 {
  height: 60%;
}
.cards__box__card .details2 {
  width: 75%;
}

.specialize .item__accounting {
  width: 350px;
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.item__accounting img {
  width: 100%;
  height: 90%;
  transition: 0.8s;
}

.cards__box__card:hover .item__accounting img {
  opacity: 0.5;
  transform: translateX(30%);
  /*100%*/
}

.cards__box__card:hover .details {
  transform: perspective(1000px) rotateY(0deg);
}

@media (max-width: 1100px) {
  .specialize .cards__box {
    justify-content: space-evenly;
  }
}
.about__us {
  margin-top: 150px;
}

.about__us .container {
  display: flex;
  justify-content: space-between;
}

.about__us .about__box {
  max-width: 39%;
}

.about__us .long__desc {
  color: #333;
  max-width: 100%;
  font-size: 1.2em;
  line-height: 25px;
}

.about__us h2 {
  max-width: 33.3%;
}

.about__us span {
  color: #005FA3;
}

.about__us .count__cards__box {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item__count__about {
  z-index: 2;
  position: relative;
  padding: 0 40px 50px;
  margin: 15px 0;
  width: 275px;
  max-height: 255px;
  transition: 0.3s linear;
  cursor: pointer;
}

.item__count__about .count {
  z-index: 2;
  font-size: 4em;
  font-weight: bold;
  transition: inherit;
}

.item__count__about p {
  z-index: 2;
  max-width: 115px;
  margin-bottom: 47px;
  color: #000;
  font-weight: bold;
  transition: inherit;
}

.item__count__about a {
  z-index: 2;
  color: #005FA3;
  font-weight: bold;
  transition: inherit;
}

.item__count__about::after {
  content: " ";
  position: absolute;
  background: #005FA3;
  z-index: -1;
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.item__count__about:hover::after {
  opacity: 1;
  width: 90%;
  height: 100%;
  transition: 0.4s ease-in-out;
}

.item__count__about:hover > .count {
  color: #fff;
}

.item__count__about:hover > p {
  color: #fff;
}

.item__count__about:hover > a {
  color: #fff;
}

@media (max-width: 1150px) {
  .about__us .about__box {
    max-width: 30%;
  }
  .about__us .count__cards__box {
    margin-top: 50px;
  }
  .about__us .item__count__about {
    width: 220px;
    max-height: 240px;
    padding: 0 30px 20px;
  }
  .about__us .item__count__about .count {
    font-size: 3em;
  }
  .about__us .item__count__about p {
    max-width: 100px;
    margin-bottom: 37px;
  }
}
.clients {
  margin: 130px 0;
}
.clients .clients__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.clients .clients__box .image img {
  max-width: 255px;
  max-height: 150px;
  cursor: pointer;
}
.clients .flex-btnsPag {
  margin-top: 60px;
}
.clients .flex-btnsPag .swiper__btns {
  justify-content: flex-end;
}
.clients .flex-btnsPag .swiper__btns .swiper-button-next, .clients .flex-btnsPag .swiper__btns .swiper-button-prev {
  background: #b7d2ee;
}
.clients .flex-btnsPag .swiper__btns .swiper-button-next:hover, .clients .flex-btnsPag .swiper__btns .swiper-button-prev:hover {
  background: #005FA3;
}
.clients .flex-btnsPag .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .clients .flex-btnsPag .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #005FA3;
}

@media (max-width: 1000px) {
  .clients .swiper .swiper-slide {
    margin: 20px 0;
  }
}
.reviews {
  margin-top: 140px;
}
.reviews .comments {
  max-width: 920px;
  margin: 0 auto;
  cursor: grab;
}
.reviews .comments .core__comment {
  font-size: 1.2em;
}
.reviews .comments .person {
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.reviews .comments .person .avatar__img {
  margin-right: 35px;
}
.reviews .swiper-wrapper .swiper-slide {
  background: #fff;
  padding: 50px 0;
  border-radius: 3%;
}
.reviews .flex-btnsPag {
  margin-top: 60px;
}
.reviews .flex-btnsPag .swiper__btns {
  justify-content: flex-end;
}
.reviews .flex-btnsPag .swiper__btns .swiper-button-next, .reviews .flex-btnsPag .swiper__btns .swiper-button-prev {
  background: #b7d2ee;
}
.reviews .flex-btnsPag .swiper__btns .swiper-button-next:hover, .reviews .flex-btnsPag .swiper__btns .swiper-button-prev:hover {
  background: #005FA3;
}
.reviews .flex-btnsPag .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .reviews .flex-btnsPag .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #005FA3;
}

.footer {
  padding: 120px 0 140px;
  margin: 140px 0;
  background: url("../images/Rectangle (1).png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 623px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .contact__info .info {
  font-size: 1.2em;
  color: #BDBDBD;
  margin-bottom: 60px;
}

.footer .wrap__contacts {
  display: flex;
  flex-wrap: wrap;
}
.footer .wrap__contacts a {
  text-decoration: none;
  color: #BDBDBD;
  font-size: 1.3em;
  margin: 0 30px 25px 0;
}

.footer .wrap__contacts a li {
  list-style: none;
}

.footer h2 {
  color: #fff;
}

.footer .contact__info {
  max-width: 45%;
}

.footer .add__comment__box {
  max-width: 50%;
}

/*inputs*/
.footer .contact__info p {
  font-size: 1.1em;
  color: #fff;
}

.footer .inputs__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .input__item {
  max-width: 45%;
}

.footer .input {
  width: 100%;
  font-size: 1.5em;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
  color: #c1c1c1;
  background: inherit;
  padding-bottom: 5px;
}

.footer .add__comment__box textarea {
  width: 100%;
  font-size: 1.5em;
  resize: none;
  min-height: 120px;
  color: #c1c1c1;
  background: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

.footer .add__comment__box .btn_ {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.textarea {
  width: 100%;
  margin-top: 50px;
}

.footer .desc {
  margin: 0;
}

.footer .footer__bottom {
  position: relative;
  margin: 170px auto;
  display: flex;
  justify-content: space-between;
}
.footer .footer__bottom:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  background: #21262d;
  height: 1px;
  width: 100%;
  z-index: 10;
}

.footer .footer__bottom p {
  margin-bottom: 40px;
  color: #BDBDBD;
}

@media (max-width: 1040px) {
  .footer .contact__info {
    max-width: 40%;
  }
  .footer .add__comment__box {
    margin-top: 40px;
  }
  .footer .footer__bottom {
    margin: 120px auto;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  display: block;
}

h2 {
  line-height: 69px;
  font: 4em "Modern No. 20";
  font-weight: bold;
  margin-bottom: 60px;
}

p {
  margin: 0;
}

.desc {
  font-size: 1.5em;
  line-height: 33px;
  color: #BDBDBD;
  margin-bottom: 30px;
}

.btn_ button {
  display: block;
  position: relative;
  width: 240px;
  height: 60px;
  background: #005FA3;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.btn_ button :after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
.btn_ button:hover::after {
  width: 100%;
  opacity: 1;
}

.btn_ button:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(title);
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background: #1678a8;
  color: #fff;
  opacity: 0;
  transition: 0.2s linear;
}

@media (max-width: 1150px) {
  .container {
    padding: 0 45px;
  }
}
@media (max-width: 1000px) {
  h2 {
    font-size: 3em;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=index.css.map */
