.menu {
  margin: 10px 0 20px;

  & .menu__mobile {
    display: none;
  }

  & ul {
    list-style: none;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .menu__content {
      width: 53%;
      list-style: none;
      padding: 0;
      margin: 0;

      & ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;

        & a {
          margin-bottom: 20px;
        }

        & li {
          font-size: 0.9em;
        }
      }

      & .menu__data {

        & li {
          font-size: 0.7em;

          & svg {
            color: #005FA3;
            margin-right: 8px;
          }
        }
      }

      & .menu__link li {
        font-weight: bold;
      }
    }

    & .menu__logo {
      display: flex;
      align-items: center;

      & .menu__logo__img {
        margin-right: 30px;
        min-width: 35px;
      }

      & .menu__logo__title {
        font-size: 2em;
        color: #005FA3;
      }
    }

    & a {
      color: #222;
      text-decoration: none;
      transition: 0.3s;
    }

    & .menu__link .menu__content__current__link {
      position: relative;

      &:after, &:before {
        top: 15%;
        content: "";
        position: absolute;
        width: 3px;
        height: 70%;
        background: #005FA3;
      }

      &:after {
        left: -6px;
      }

      &:before {
        right: -6px;
      }
    }

    & a:hover {
      color: #005FA3;

    }

    & .menu__content__current__link {
    }
  }
}

@media (max-width: 1000px) {
  .menu {
    position: relative;
    margin: 0 0 20px;

    & .menu__content {
      display: none;
    }

    & .menu__mobile {
      display: block;

      & ul {
        width: 50%;
      }

      @keyframes vsplivashka {
        0% {
          transform: translateY(-3000px);
          opacity: 0;
        }

        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      & .menu__mobile__content {
        z-index: 1000;
        position: fixed;
        transform: translateY(-3000px);
        display: flex;
        padding: 70px 0 20px 50px;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 5%;
        background: #21262d;
        border: 1px solid #fff;
        border-top: none;
        box-shadow: 0 0 50px 0 #212B31;

        & li {
          font-size: 2em;
          margin-bottom: 40px;

          & svg {
            width: 35px;
            height: 35px;
            margin-right: 15px;
          }
        }

        & a {
          color: #fff;
          transition: 0.3s linear;

          &:hover {
            padding: 5px;
            background: #fff;
            color: #21262d;
            border-radius: 3px;
          }
        }
      }

      & .menu__open {
        animation: vsplivashka .6s ease-in-out ;
        animation-iteration-count: 1;
        transform: translateY(0);
      }

      .menuBtn {
        position: fixed;
        top: 0;
        right: 6.6%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border-radius: 10px;
        z-index: 10000;
        background: #fff;
      }

      .openBtn {
        background: inherit;
        & .menuBtn__burger {
          background: #fff;
          &:after, &:before {
            background: #fff;
          }
        }
      }

      .menuBtn .menuBtn__burger {
        width: 35px;
        height: 4px;
        background: #212B31;
        border-radius: 2.5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all .5s ease-in-out;
      }

      .menuBtn__burger::before,
      .menuBtn__burger::after {
        content: '';
        position: absolute;
        width: 35px;
        height: 4px;
        background: #212B31;
        border-radius: 2.5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
      }

      .menuBtn__burger::before {
        transform: translateY(-12px);
      }

      .menuBtn__burger::after {
        transform: translateY(12px);
      }

      .menuBtn.openBtn .menuBtn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }

      .menuBtn.openBtn .menuBtn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }

      .menuBtn.openBtn .menuBtn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }
  }
}